[Unit]
Description=Pulp Content App
After=network-online.target
Wants=network-online.target

[Service]
User={{ pulp_user }}
WorkingDirectory=/var/run/pulp_content_app/
RuntimeDirectory=pulp_content_app
ExecStart={{ pulp_scl_enable_python3 }}{{ pulp_venv }}/bin/gunicorn \
          pulpcore.content:server --bind 'localhost:8080' \
          --worker-class 'aiohttp.GunicornWebWorker' -w 2

[Install]
WantedBy=multi-user.target
